.Header{
    background-color: black;
    color: antiquewhite;
    width:100%;
    text-align: center;
}
.table{
    text-align: center;
    padding: 2px;
    border: 2px solid black;
   
}
.delbtn{
    color: whitesmoke;
    background-color: tomato;
}
.edtbtn{
    color: whitesmoke;
    background-color: deepskyblue;
}
.eduser, .aduser{
    border: 2px solid black;
    
}
form {
    padding-left: 10px;
}